---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'air' }}"; // skin
@import "minimal-mistakes"; // main partials

# frame{position:absolute;width:300px;height:200px;overflow:hidden;border-radius:5px}
# dis{position:absolute;left:-50px;top:-10px;opacity:.5}
# dis li{display:inline-block;width:200px;height:20px;margin:0 50px;float:left;text-align:center;color:#fff;border-radius:10px;background:#000}
# photos img{float:left;width:300px;height:200px}
# photos {  position: absolute;z-index:9;  width: calc(300px * 2);/*---修改图片数量的话需要修改下面的动画参数*/  }

.play{ animation: pchange 10s ease-out infinite alternate;}
@keyframes pchange {
        0%,45%   { margin-left: 0px;     }
        50%,100% { margin-left: -300px;  }
